<div class="row">
  <div class="col-sm-6 col-lg-4 ">
    <a routerLink="">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-building"></i>
          </div>
          <h2> Paramètres <br> Sociétés</h2>
        </div>
      </div>
    </a>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-4">
    <a>
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="fa fa-calculator"></i>
          </div>
          <h2> Paramètres <br> Comptabilités</h2>
        </div>
      </div>
    </a>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-4">
    <a>
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <h2> Paramètres <br> nomenclatures </h2>
        </div>
      </div>
    </a>
  </div><!--/.col-->
</div>
