<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Créer Compte : Étape 2</h1>
            <p>Veuillez saisir les informations sur la société suivantes: </p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Raison Sociale" style="margin-right: 2%;">
              <select  class="form-control" >
                <option value="" disabled selected >Forme Juridique</option>
                <option> SARL</option>
                <option>SA</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <textarea class="form-control"  placeholder="Adresse 1" style="margin-right: 2%;"></textarea>
              <textarea class="form-control" placeholder="Adresse 2"></textarea>
            </div>

            <div class="input-group mb-3">
              <textarea class="form-control" placeholder="complément"></textarea>
            </div>

            <div class="input-group mb-4">
              <input type="text" class="form-control" placeholder="Ville" style="margin-right: 2%;">
              <select  class="form-control" style="margin-right: 2%;">
                <option value="" disabled selected >Pays</option>
                <option> France</option>
                <option>Maroc</option>
              </select>
              <input type="number" class="form-control" placeholder="Code Postale">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Latitude " style="margin-right: 2%;">
              <input type="text" class="form-control" placeholder="longitude">
            </div>
            <div class="input-group mb-3">
              <input type="tel" class="form-control" placeholder="Téléphone " style="margin-right: 2%;">
              <input type="tel" class="form-control" placeholder="Fax">
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email " style="margin-right: 2%;">
              <input type="url" class="form-control" placeholder="Site">
            </div>

            <button type="button" class="btn btn-block btn-success">enregistrer</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
