
<div class="col-md-12 mb-4">
  <!-- Nav tabs -->
  <tabset>
    <tab>
      <ng-template tabHeading><i class="fa fa-building"></i> Identification </ng-template>


        <div class="row">
          <div class="col-md-6">
          <div class="card ">
            <div class="card-header"> Information générale </div>
            <div class="card-body">
            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <input type="text" class="form-control " placeholder="Raison Sociale" > </div>
              <div class="col-md-6 mb-1">  <select  class="form-control" >
                <option value="" disabled selected >Forme Juridique</option>
                <option> SARL</option>
                <option>SA</option>
              </select> </div>
            </div>

            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <textarea class="form-control"  placeholder="Adresse 1" ></textarea></div>
              <div class="col-md-6 mb-1">  <textarea class="form-control" placeholder="Adresse 2"></textarea> </div>
            </div>

            <div class="form-inline mb-3">
              <div class="col-md-12 mb-1 ">  <textarea class="form-control" placeholder="complément"></textarea> </div>
            </div>

            <div class="form-inline mb-4">
              <div class="col-md-4 mb-1">  <input type="text" class="form-control" placeholder="Ville" > </div>
              <div class="col-md-4 mb-1"><select  class="form-control" style="margin-right: 2%;">
                <option value="" disabled selected >Pays</option>
                <option> France</option>
                <option>Maroc</option>
              </select></div>
              <div class="col-md-4"> <input type="number" class="form-control" placeholder="Code Postale"></div>
            </div>
            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="Latitude "> </div>
              <div class="col-md-6 mb-1" > <input type="text" class="form-control" placeholder="longitude"> </div>
            </div>
            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1"> <input type="tel" class="form-control" placeholder="Téléphone " ></div>
              <div class="col-md-6 mb-1 "> <input type="tel" class="form-control" placeholder="Fax"> </div>
            </div>
            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1"> <input type="email" class="form-control" placeholder="Email " > </div>
              <div class="col-md-6 mb-1"> <input type="url" class="form-control" placeholder="Site"> </div>
            </div>
          </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header"> Information Financière</div>
              <div class="card-body">
              <div class="form-inline mb-3">
                <div class="col-md-6 mb-1">  <input type="text" class="form-control" placeholder="Capital" ></div>
                <div class="col-md-6 mb-1">  <input type="text" class="form-control" placeholder="Activité" ></div>
              </div>

              <div class="form-inline mb-3">
                <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="SIRENE" > </div>
                <div class="col-md-6 mb-1">  <input type="text" class="form-control" placeholder="Code Établissement" ></div>
              </div>

              <div class="form-inline mb-3">
                <div class="col-md-4 mb-1">  <input type="text" class="form-control" placeholder="Code A.P.E" style="margin-right: 2%;"> </div>
                <div class="col-md-4 mb-1">  <input type="text" class="form-control" placeholder="Numéro R.C.S" style="margin-right: 2%;"> </div>
                <div class="col-md-4 mb-1"> <input type="text" class="form-control" placeholder="Tribunal de commerce" style="margin-right: 2%;"> </div>

              </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header"> Références </div>
              <div class="card-body">
              <div class="form-inline mb-3">
                <div class="col-md-6 mb-1"> <input type="number" class="form-control" placeholder="Numéro Fiscale"> </div>
                <div class="col-md-6 mb-1 "> <input type="number" class="form-control" placeholder="NII" ></div>
              </div>

              <label >Autres Références : </label>

              <div class="form-inline mb-3">

                <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="Libellé" style="margin-right: 2%;"> </div>
                <div class="col-md-6 mb-1">  <input type="text" class="form-control" placeholder="Numéro" style="margin-right: 2%;"></div>
              </div>

              <div class="form-inline mb-3">
                <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="Libellé" > </div>
                <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="Numéro" > </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class=" card">
              <div class="card-header"> Divers </div>
              <div class="card-body">
                <div class="form-inline mb-3">
                  <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="Émetteur National "> </div>
                  <div class="col-md-6 mb-1 "> <input type="text" class="form-control" placeholder="Émetteur LCR, SEPA" > </div>

                </div>
            </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12" >

            <button type="button" class="btn btn-block btn-success" >enregistrer</button>


          </div>
        </div>








    </tab>
    <tab>
      <ng-template tabHeading><i class="fa fa-phone"></i> Coordonnées </ng-template>

      <div class="row">
      <div class=" col-md-12 ">
        <div class="card ">

        <div class="card-body">

          <div class="form-inline mb-3">
           <div class="col-md-6 mb-1">   <input type="text" class="form-control" placeholder="Nom "> </div>
            <div class="col-md-6 mb-1">    <input type="text" class="form-control" placeholder="Prénom" > </div>
          </div>

          <div class="form-inline mb-3">
            <div class="col-md-4 mb-1"> <select  class="form-control" >
              <option value="" disabled selected >Code Service</option>
            </select>
            </div>
            <div class="col-md-4 mb-1">
            <select  class="form-control"  >
              <option value="" disabled selected >Fonction</option>
            </select>
            </div>
            <div class="col-md-4 mb-1">
            <input type="number" class="form-control" placeholder="Rang de délégation" min="0" max="9">
            </div>
          </div>

          <label> Ligne Directe: </label>

          <div class="form-inline mb-3">
            <div class="col-md-6 mb-1">  <input type="tel" class="form-control" placeholder="Numéro de téléphone " >  </div>
            <div class="col-md-6 form-inline mb-1">
              <label class="col-md-6 form-control-label">Confidentiel:</label>
              <div class="col-md-6">
                <label class="radio-inline" for="inline-radio1">
                  <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Oui
                </label>
                <label class="radio-inline" for="inline-radio2">
                  <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Nom
                </label>
              </div>

            </div>
          </div>

          <label> Fax: </label>


            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <input type="tel" class="form-control" placeholder="Numéro Fax " >  </div>
              <div class="col-md-6 form-inline mb-1">
                <label class="col-md-6 form-control-label">Confidentiel:</label>
                <div class="col-md-6">
                  <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Oui
                  </label>
                  <label class="radio-inline" for="inline-radio2">
                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Nom
                  </label>
                </div>

              </div>
            </div>

          <label> Portable:</label>

            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <input type="tel" class="form-control" placeholder="Numéro de téléphone " >  </div>
              <div class="col-md-6 form-inline mb-1">
                <label class="col-md-6 form-control-label">Confidentiel:</label>
                <div class="col-md-6">
                  <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Oui
                  </label>
                  <label class="radio-inline" for="inline-radio2">
                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Nom
                  </label>
                </div>

              </div>
            </div>

          <label> Email Interne </label>

            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <input type="email" class="form-control" placeholder="Adresse Email " >  </div>
              <div class="col-md-6 form-inline mb-1">
                <label class="col-md-6 form-control-label">Confidentiel:</label>
                <div class="col-md-6">
                  <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Oui
                  </label>
                  <label class="radio-inline" for="inline-radio2">
                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Nom
                  </label>
                </div>

              </div>
            </div>


          <label> Email Externe </label>
            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <input type="email" class="form-control" placeholder="Adresse Email " >  </div>
              <div class="col-md-6 form-inline mb-1">
                <label class="col-md-6 form-control-label">Confidentiel:</label>
                <div class="col-md-6">
                  <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Oui
                  </label>
                  <label class="radio-inline" for="inline-radio2">
                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Nom
                  </label>
                </div>

              </div>
            </div>



          <label> Email de direction  </label>
            <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">  <input type="email" class="form-control" placeholder="Adresse Email " >  </div>
              <div class="col-md-6 form-inline mb-1">
                <label class="col-md-6 form-control-label">Confidentiel:</label>
                <div class="col-md-6">
                  <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Oui
                  </label>
                  <label class="radio-inline" for="inline-radio2">
                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Nom
                  </label>
                </div>

              </div>
            </div>

        <div class="col-md-12" >
          <button type="button" class="btn  btn-block  btn-success" style="margin-top: 1%">enregistrer</button>
        </div>

      </div>
      </div>

      </div>
      </div>




    </tab>
    <tab>
      <ng-template tabHeading><i class="fa fa-image"></i> Logo </ng-template>


      <div class="col-md-12">
      <div class="card">
      <div class="card-body">
      <div class="row">
        <div class="col-md-6 mb-1" >  <img src="Logo"  style="width: 50% ; height: 50% ">   </div>
        <div class="col-md-6 mb-1" >  <img src="Logo"  style="width: 100% ; height: 100% ">  </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-1" >  <input type="file" class="form-control" style="margin-right: 2%;"  placeholder="Veuillez choisir un petit logo" >  </div>
        <div class="col-md-6 mb-1" >  <input type="file" class="form-control" style="margin-right: 2%;"  placeholder="Veuillez choisir un grand logo" >  </div>
      </div>
        <div class="col-md-12" >
          <button type="button" class="btn  btn-block  btn-success" style="margin-top: 1%">enregistrer</button>
        </div>
      </div>
      </div>

      </div>
    </tab>
    <tab>
      <ng-template tabHeading><i class="fa fa-university"></i> Banque </ng-template>

      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header"> Information générale </div>
            <div class="card-body">
              <div class="form-inline mb-3">
              <div class="col-md-6 mb-1">   <input type="text" class="form-control" placeholder="Code " style="margin-right: 15%;"> </div>
                <div class="col-md-6 mb-1"> <input type="text" class="form-control" placeholder="Nom " style="margin-right: 15%;"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Coordonnées">

              <div class="card">
                <div class="card-body">

                  <div class="form-inline mb-3">
                    <div class="col-md-12 mb-1">  <input type="text" class="form-control" placeholder="Nom de l'agence" > </div>
                  </div>

                  <div class="form-inline mb-3">
                    <div class="col-md-6 mb-1">   <textarea class="form-control"  placeholder="Adresse 1" ></textarea> </div>
                    <div class="col-md-6 mb-1">   <textarea class="form-control" placeholder="Adresse 2"></textarea></div>
                  </div>

                  <div class="form-inline mb-3">
                    <div class="col-md-12 mb-1">   <textarea class="form-control" placeholder="complément"></textarea></div>
                  </div>

                  <div class="form-inline mb-4">
                    <div class="col-md-4 mb-1">  <input type="text" class="form-control" placeholder="Ville" > </div>
                    <div class="col-md-4 mb-1">  <select  class="form-control" >
                      <option value="" disabled selected >Pays</option>
                      <option> France</option>
                      <option>Maroc</option>
                  </select> </div>
                    <div class="col-md-4 mb-1">  <input type="number" class="form-control" placeholder="Code Postale"> </div>
                  </div>

                  <div class="form-inline mb-3">
                    <div class="col-md-6 mb-1">  <input type="tel" class="form-control" placeholder="Téléphone " ></div>
                    <div class="col-md-6 mb-1"> <input type="tel" class="form-control" placeholder="Fax"></div>
                  </div>
                  <div class="form-inline mb-3">
                    <div class="col-md-6 mb-1">  <input type="email" class="form-control" placeholder="Email " > </div>
                    <div class="col-md-6 mb-1">  <input type="url" class="form-control" placeholder="Site"></div>
                  </div>



                </div>


              </div>


            </tab>
            <tab heading="R.I.B">

              <div class="card">
                <div class="card-body" >

                  <div class="form-inline mb-3">
                    <div class="col-md-6 mb-1"> <input type="number" class="form-control" placeholder="IBAN " ></div>
                    <div class="col-md-6 mb-1"> <input type="number" class="form-control" placeholder="BIC"> </div>
                  </div>
                  <div class="form-inline mb-3">
                    <div class="col-md-2 mb-1"> <input type="number" class="form-control" placeholder="Code Pays " disabled ></div>
                    <div class="col-md-2 mb-1"> <input type="number" class="form-control" placeholder="Code Banque " disabled ></div>
                    <div class="col-md-2 mb-1"> <input type="number" class="form-control" placeholder="Code Guichet "  disabled  ></div>
                    <div class="col-md-2 mb-1"> <input type="number" class="form-control" placeholder="Numéro de compte "  disabled ></div>
                    <div class="col-md-2 mb-1"> <input type="number" class="form-control" placeholder="Clé RIB " disabled></div>
                    <div class="col-md-2 mb-1">  <input type="number" class="form-control" placeholder="BIC" disabled></div>
                  </div>

                  <div class="form-inline mb-3">

                    <div class="col-md-6 mb-1">   <input type="number" class="form-control" placeholder="Domiciliation " ></div>
                    <div class="col-md-6 mb-1"> <input type="number" class="form-control" placeholder="titulaire" > </div>
                  </div>

                  <div class="form-inline mb-3">

                    <div class="col-md-12 mb-1"> <input type="number" class="form-control" placeholder="Numéro de compte comptable " > </div>

                  </div>
                  <div class="form-inline mb-3">

                    <div class="col-md-12 mb-1"> <input type="number" class="form-control" placeholder="Numéro de compte comptable " > </div>

                  </div>


                </div>


              </div>


            </tab>
            <tab heading="Interlocuteurs">


              <div class="card">
                <div class="card-body">


                  <div class="form-inline mb-3">
                    <div class="col-md-4 mb-1"> <input type="text" class="form-control" placeholder="Nom " ></div>
                    <div class="col-md-4 mb-1"> <input type="text" class="form-control" placeholder="Prénom " ></div>
                    <div class="col-md-4 mb-1"> <input type="text" class="form-control" placeholder="Fonction "></div>
                  </div>
                  <div class="form-inline mb-3">
                    <div class="col-md-4 mb-1"> <input type="tel" class="form-control" placeholder="Téléphone ">  </div>
                    <div class="col-md-4 mb-1"> <input type="tel" class="form-control" placeholder="Fax " > </div>
                    <div class="col-md-4 mb-1"> <input type="tel" class="form-control" placeholder="Portable "> </div>
                  </div>
                  <div class="form-inline mb-3">
                    <div class="col-md-12 mb-1"> <input type="tel" class="form-control" placeholder="email "> </div>

                  </div>

                  <div class="form-inline mb-3">
                    <div class="col-md-12 mb-1"> <button class="btn btn-primary pull-right"> Ajouter </button> </div>
                  </div>




                </div>



              </div>




            </tab>
          </tabset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <button type="button" class="btn  btn-block  btn-success" style="margin-top: 1%">enregistrer</button>
        </div>


      </div>
    </tab>
  </tabset>
</div>
